<section class="share-node clear">
  <h4 class="share-node-title"><i class="icon-share"></i> Share This Page</h4>
  <ul class="icons">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}" target="_blank"><i class="icon-facebook"></i></a></li>
    <li><a href="https://twitter.com/share?url={{ url('<current>') }}/&text={{ node.label }}" target="_blank"><i class="icon-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url('<current>') }}&title={{ node.label }}" target="_blank"><i class="icon-linkedin"></i></a></li>
  </ul>
</section> <!-- /.share-node -->
