<section class="share-node">
  <h4 class="share-node-title"><i class="ficon-share primary"></i> {{ 'Share This Page'|t }}</h4>
  <ul class="share-icons">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}" target="_blank"><i class="ficon-facebook"></i></a></li>
    <li><a href="https://twitter.com/share?url={{ url('<current>') }}/&text={{ node.label }}" target="_blank"><i class="ficon-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url('<current>') }}&title={{ node.label }}" target="_blank"><i class="ficon-linkedin"></i></a></li>
  </ul>
</section><!-- /.share-node -->
